* ,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url(./img/above_fold_background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  width: 100%;
  height: 4rem;
  background-color: #0000;
  line-height: 6rem;
}

.main-nav__menu {
  float: right;
  margin-right: 3rem;
}

.main-nav__menu-item {
  list-style-type: none;
  display: inline-block;
  /* display: flex;
  justify-content: space-evenly; */
  transition: 0.8s all;
}

.main-nav__menu-item:hover {
  cursor: pointer;
  background-color: lightsalmon;
}

.main-nav__menu-link {
  text-decoration: none;
  color: #fff;
  padding: 3rem;
}

.header__container {}

.header__logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  width: 35rem;
  height: 35rem;
}

.header__title {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 50%;
}

footer {
  width: 100%;
  height: 4rem;
  background-color: #000;
  color: #fff;
}